
<div class="chats-container">
  <h2>Chats</h2>
  <div class="overflow">
    <div class="chat-item" (click)="chooseChat(chat.chatId)" 
      *ngFor="let chat of this.contactsService.contacts | search: search"
      >
      <div class="chat-info">
        <img 
          [src]="chat.photo"
          alt="user-photo" class="contact-photo"
        >
        <div>
          <h3>{{chat.name}}</h3>
          <p>{{chat.value}}</p>
        </div>
      </div>
      <span >
        <p [ngStyle]="{'color': 'grey', 'font-size':'12px'}">{{chat.time | date: 'mediumDate'}}</p>
      </span>
    </div>
  </div>  
</div>

