
<div class="app-container">
  
  <div class="app-chats">
    <div class="app-nav">
      <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/10_avatar-512.png" 
      alt="user-photo" class="user-photo">
      <input type="text" class="chat-search"
      placeholder="Search or start new chat"
      [(ngModel)] = "search"
      >
    </div>
    
    <div class="chats-flow">
      <app-chat-list
      (onGet)="getCurrentUser($event)"
      
      [search] ="search"
      ></app-chat-list>
    </div>
  </div>

  <div class="chat-space">
    <h3 *ngIf="!currentChatID else component">Choose chat to start a conversation</h3>
    
    <ng-template #component>
      <app-chat
      [currentChatID] = "currentChatID"
      
    ></app-chat>
    </ng-template>
  </div>

</div>